.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: var(--white);
}

.cardImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
  box-shadow: 4px 4px 14px 4px rgba(187, 185, 207, 0.1);
}

.cardContent {
  padding: 1.5rem;
}
.h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
